/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$pink: #D03D62;
$spacing: 20px;
$radius: 7px;

html, body {
    height: 100%;
    font-family: 'Helvetica', Arial, Sans-serif;
}

.centered {
    text-align: center;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.clearfix {
    margin-bottom: $spacing;
}

.instructions {
    font-size: 1.5em;
}

.button {
    cursor: pointer;
    background-color: $pink;
    color: white;
    margin: $spacing auto;
    padding: 10px;
    width: 6em;
    border-radius: $radius $radius;
}

.button.disabled {
    background-color: lighten($pink, 20%);
}

#hangman-graphic {
    max-width: 50%;
    height: auto;
}

#phrase {
    letter-spacing: 10px;
    font-size: 2.5em;
} 

#letters {
    max-width: 720px;
    margin: $spacing auto;
    text-align: center;
}

.letter {
    width: 1.5em;
    margin: 5px;
    display: inline-block;
}
